<div class="jumbotron center home-bg">
  <div class="jumbotron-content">
    <h1 class="display-3">Vegan Tease</h1>
    <p class="lead">Teasing you one recipe at a time</p>
    <hr class="my-4">
    <p class="lead">
      <%= button_to 'Sign up or Log in', '#', class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>